<div class="container-fluid">

    <!-- start page title -->
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">Download File</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">HRMS</a></li> -->
                        <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">Salary Slips</a></li> -->
                        <li class="breadcrumb-item active">Download File</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>

    
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <!-- cta -->
                                <div class="row">
                                    <div class="custom-accordion">
                                        <div class="mt-4">
                                            <h4 class="position-relative mb-0"><a href="#taskcollapse1"
                                                    class="text-dark d-block" data-bs-toggle="collapse">Document List
                                                </a></h4>
                                            <div class="collapse show" id="taskcollapse1">
                                                <div class="table-responsive mt-3">
                                                    <table
                                                        class="table table-centered table-nowrap table-borderless table-sm">


                                                        <thead class="table-light">
                                                            <tr class="">
                                                                <th scope="col">Sr.No.</th>
                                                                <th scope="col">Uploaded_By</th>
                                                                <th scope="col">Upload_For</th>
                                                                <th scope="col">File Name</th>
                                                                <!-- <th scope="col" class="col-sm-1"> File <span
                                                                    class="text-danger">*</span></th> -->
                                                                <th scope="col">View</th>
                                                                <!-- <th scope="col">Download</th> -->
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <ng-container *ngFor="let user of users; let i = index">
                                                                <tr>
                                                                    <td>{{ i + 1 }}</td>
                                                                    <td>{{ user.userId }}</td>
                                                                    <td>{{ user.adminId }}</td>
                                                                    <td>{{ user.fileName}}</td>
                                                                    <!-- <td>
                                                                    <div class="file-input-container"
                                                                        style="width: 250px;">
                                                                        <input type="file" class="form-control" (change)="OnChangeFileField($event)" formControlName="file" required>
                                                                    </div>
                                                                </td> -->
                                                                <!-- <td>
                                                                    <button type="submit" class="btn btn-primary"
                                                                        (click)="viewFile(user.fileName)">
                                                                        <i class="fas fa-eye"></i></button>
                                                                </td> -->
                                                                    <td>
                                                                        <button type="submit" class="btn btn-primary"
                                                                            (click)="downloadFile(user.fileName)">
                                                                            <i class="fas fa-download"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                        </tbody>
                                                    </table>
                                                    
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    <div>
        <pdf-viewer [src]="filePath" [render-text]="true" [original-size]="false"
            style="width: 900px; height: 400px">
        </pdf-viewer>
    </div>



    <li *ngIf="isADMIN()">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <!-- cta -->
                                <div class="row">
                                    <div class="custom-accordion">
                                        <div class="mt-4">
                                            <h4 class="position-relative mb-0"><a href="#taskcollapse1"
                                                    class="text-dark d-block" data-bs-toggle="collapse">Document List
                                                </a></h4>
                                            <div class="collapse show" id="taskcollapse1">
                                                <div class="table-responsive mt-3">
                                                    <table
                                                        class="table table-centered table-nowrap table-borderless table-sm">
                                                        <thead class="table-light">
                                                            <tr class="">
                                                                <th scope="col">Sr.No.</th>
                                                                <th scope="col">Uploaded_By</th>
                                                                <th scope="col">Upload_For</th>
                                                                <th scope="col">File Name</th>
                                                                <!-- <th scope="col" class="col-sm-1"> File <span
                                                                    class="text-danger">*</span></th> -->
                                                                <th scope="col">View</th>
                                                                <th scope="col">Download</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <ng-container *ngFor="let user of users; let i = index">
                                                                <tr>
                                                                    <td>{{ i + 1 }}</td>
                                                                    <td>{{ user.userId }}</td>
                                                                    <td>{{ user.adminId }}</td>
                                                                    <td>{{ user.fileName}}</td>
                                                                    <!-- <td>
                                                                    <div class="file-input-container"
                                                                        style="width: 250px;">
                                                                        <input type="file" class="form-control" (change)="OnChangeFileField($event)" formControlName="file" required>
                                                                    </div>
                                                                </td> -->
                                                                <td>
                                                                    <button type="submit" class="btn btn-primary"
                                                                        (click)="viewFile(user.fileName)">
                                                                        <i class="fas fa-eye"></i></button>
                                                                </td>
                                                                    <td>
                                                                        <button type="submit" class="btn btn-primary"
                                                                            (click)="downloadFile(user.fileName)">
                                                                            <i class="fas fa-download"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                        </tbody>
                                                    </table>  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- <div style="width: 900px; height: 800px">
                                        <ngx-extended-pdf-viewer [src]="filePath"
                                            [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
                                    </div> -->
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
    <div>
        <pdf-viewer [src]="filePath" [render-text]="true" [original-size]="false"
            style="width: 900px; height: 400px">
        </pdf-viewer>
    </div>
















    <li *ngIf="isUser()">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col">
                        <div class="card">
                            <div class="card-body">
                                <!-- cta -->
                                <div class="row">
                                    <div class="custom-accordion">
                                        <div class="mt-4">
                                            <h4 class="position-relative mb-0"><a href="#taskcollapse1"
                                                    class="text-dark d-block" data-bs-toggle="collapse">Document List
                                                </a></h4>
                                            <div class="collapse show" id="taskcollapse1">
                                                <div class="table-responsive mt-3">
                                                    <table
                                                        class="table table-centered table-nowrap table-borderless table-sm">


                                                        <thead class="table-light">
                                                            <tr class="">
                                                                <th scope="col">Sr.No.</th>
                                                                <th scope="col">Uploaded_By</th>
                                                                <th scope="col">Upload_For</th>
                                                                <th scope="col">File Name</th>
                                                                <!-- <th scope="col" class="col-sm-1"> File <span
                                                                    class="text-danger">*</span></th> -->
                                                                <th scope="col">Action</th>
                                                            </tr>
                                                        </thead>

                                                        <tbody>
                                                            <ng-container *ngFor="let user of users; let i = index">
                                                                <tr>
                                                                    <td>{{ i + 1 }}</td>
                                                                    <td>{{ user.adminId }}</td>
                                                                    <td>{{ user.userId }}</td>
                                                                    <td>{{ user.fileName}}</td>
                                                                    <!-- <td>
                                                                    <div class="file-input-container"
                                                                        style="width: 250px;">
                                                                        <input type="file" class="form-control" (change)="OnChangeFileField($event)" formControlName="file" required>
                                                                    </div>
                                                                </td> -->
                                                                    <td>
                                                                        <button type="submit" class="btn btn-primary"
                                                                            (click)="viewFile(user.fileName)">
                                                                            <i class="fas fa-download"></i></button>
                                                                    </td>
                                                                    <td>
                                                                        <button type="submit" class="btn btn-primary"
                                                                            (click)="downloadFile(user.fileName)">
                                                                            <i class="fas fa-download"></i></button>
                                                                    </td>
                                                                </tr>
                                                            </ng-container>
                                                        </tbody>
                                                    </table>
                                                    <div style="width: 900px; height: 800px">
                                                        <ngx-extended-pdf-viewer [src]="filePath"
                                                            [useBrowserLocale]="true"></ngx-extended-pdf-viewer>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </li>
</div>