<div class="container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="page-title-box">
                <h4 class="page-title">User Registration</h4>
                <div class="page-title-right">
                    <ol class="breadcrumb m-0">
                        <!-- <li class="breadcrumb-item"><a href="javascript: void(0);">HRMS</a></li> -->
                        <li class="breadcrumb-item"><a href="javascript: void(0);">User Registration Form</a></li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>